<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{name}}</p> -->

<input type="text" class="form-control" [(ngModel)]="serverName">

<button [disabled]="isDisabled()" (click)="onAddServer()"> Add server</button>

<p *ngIf="serverCreated; else noServer">Server {{serverName}} was created</p>

<ng-template #noServer>
    <p> No server created yet</p>
</ng-template>

<p [ngStyle]="{backgroundColor:getColor()}" [ngClass]="{online:serevrStatusCheck()}">Server status is {{serverStatus}}</p>
